/* #region Base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #111;
    background-color: #fafafa;
}
a {
    color: currentColor;
    text-decoration: none;
}
button {
    color: currentColor;
    cursor: pointer;
    font-family: inherit;
}
ul, ol {
    list-style-type: none;
}
address  {
    font-style: normal;
}
.container {
    max-width: 1168px;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
}

.title-span {
    color: #fd9222;
}

/* #endregion */

/* #region Common styles */

/* #region Header */

.header {
    padding-top: 28px;
    padding-bottom: 28px;
}
.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
}
.home {
    
}
.home-link {
    font-family: inherit;
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}
.home-link-span {
    font-style: normal;
}
.logo {

}
.nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}
.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.icon {
    display: inline-block;
    padding: 8px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 40px;
    height: 40px;
}
.socials-item {
    
} 

/* #endregion */

/* #region Hero section */
.hero-section {
    background-color: rgba(17, 17, 17, 0.4);
    padding-top: 381px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    border-radius: 30px;
    margin-bottom: 80px;
    margin-left: 32px;
    margin-right: 32px;
}

.main-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21429;
    letter-spacing: -0.03em;
    color: #fff;
    width: 484px;
    margin-bottom: 32px;
}

.clickable {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-section .list {
    gap: 14px;
}

.list-item {}

.button {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 14px 40px;
    cursor: pointer;
}
.button-orange {
    background-color: #fd9222;
    border: transparent;
}
.button-transparent {
    background-color: transparent;
    border: 1px solid #fff;
}
.button-orange:hover {
    background-color: #fcf1e0;
    color: #fd9222;
}
.button-transparent:hover {
    border: 1px solid #fd9222;
    color: #fd9222;
}
.srcoll-down {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

.srcoll-down p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    color: #fff;
}

.arrow-down {}
/* #endregion */

/* #region Benefits */
.section-one {
    background-color: rgba(30, 24, 35, 1);
    padding: 50px;
}

.section-one .list {
    align-items: baseline;
    gap: 88px;
}

.section-one .list-item {
    width: 308px;
}

.card {}

.card-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22222;
}
.section-one .card-title { 
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22222;
    margin-bottom: 18px;
    color: #fff;
}
.card-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
}
.section-one .card-text {
    color: rgba(255, 255, 255, 0.7);
}
/* #endregion */

/* #region Ingridients */
.section-two {
    padding: 120px 0px 60px 0px;
}

.section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.section-two .section-title {
    width: 412px;
}
.section-two .list {
    flex-wrap: wrap;
    gap: 32px;
}

.section-two .list-item {
}

.section-two .card {
    border: 1px solid #fd9222;
    border-radius: 15px;
    width: 260px;
    padding: 28px 23px;
}

.section-two .card-orange {
    border: transparent;
    background-color: #fd9222;
}

.section-two .card-dark {
    border: transparent;
    background-color: #1e1823;
}

.card-image {
}

.section-two .card-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    margin-top: 36px;
}

.section-two .card-title-white {
    color: #fff;
}

/* #endregion */

/* #region Recipe */
.section-three {
    padding: 60px 0px;
}

.section-title {}

.recipe {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.recipe-caption {
    padding: 32px;
}
.recipe-image {

}

.section-three .list-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33333;
    margin-bottom: 28px;
    width: 350px;
}

.ordered-list {
    
}

.section-three .list-item:not(:last-child) {
    margin-bottom: 24px;
}
.section-three .list-item::before {
    
}
/* #endregion */

/* #region Products */
.section-four {
    padding: 60px 0px;
}

.section-title {}

.section-four .list {
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 18px;

}

.section-four .list-item {
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    width: 270px;
    background-color: #fff;
    padding: 32px 20px;
}

.card {}

.card-image {}

.section-four .card-title {
    text-align: center;
}

.section-four .card-text {
    text-align: center;
}

.card-button {
    display: block;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    padding: 8px 20px;
    background-color: #fafafa;
    font-weight: 600;
}
/* #endregion */

/* #region Top sellers */
.section-five {
    padding: 60px 0px;
}

.section-title {}

.section-five .list {
    gap: 16px;
}

.list-item {}

.section-five .card {
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    width: 368px;
}

.card-image {}

.section-five .card-caption {
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
    border-left: 1px solid rgba(17, 17, 17, 0.1);
    border-right: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 0 0 15px 15px;
    width: 368px;
    padding-top: 28px;
    padding-bottom: 28px;
}

.section-five .card-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
}
/* #endregion */

/* #region Rewievs */
.section-six {
    padding: 60px 0px 120px 0px;
}

.section-six .section-title {
    margin-bottom: 92px;
}

.section-six .list {
    gap: 28px;
}

.section-six .list-item {}

.section-six .card {
    position: relative;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    width: 360px;
    height: 200px;
    box-shadow: 0 10px 100px 0 rgba(17, 17, 17, 0.1);
    background-color: #fff;
    padding: 24px;
}

.section-six .card-image {
    position: absolute;
    left: 140px;
    bottom: 162px;
    display: block;
    margin: 0 auto;
}

.section-six .card-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33333;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 24px;
}

.section-six .card-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
    width: 312px;
}

.section-six .button-black {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-weight: 600;
    font-size: 18px;
    color: #111;
    border: 1px solid #fd9222;
    border-radius: 100px;
    padding: 14px 40px;
    width: 222px;
    height: 50px;
    background-color: transparent;
}

.section-six .button-black:hover {
    background-color: #fd9222;
    color: #fff;
}

/* #endregion */

/* #region Footer */
.footer {
    background-color: rgba(30, 24, 35, 1);
    color: #fff;
    padding: 50px 32px;
}

.footer-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer .footer-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21429;
    letter-spacing: -0.02em;
    text-transform: none;
    color: #fff;
    text-align: left;
    width: 300px;
}

.socials-contacts {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: 50px;
}
.social-networks {

}

.footer-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    margin-bottom: 14px;
}

.socials {
    gap: 14px;
}

.socials-item {}

.footer .icon {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
    fill: #fff;
}

.contacts {}

.address {}

.address .list {
    display: inline;
}

.contacts-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: left;
}

/* .contents-tel {
    margin-bottom: 4px;
} */

.footer-line {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 1136px;
    height: 0px;
    margin-top: 50px;
    margin-bottom: 42px;
}

.footer-nav .list {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    gap: 24px;
}

.nav-link {}
/* #endregion */

/* #endregion */